modules = ["web", "nodejs-20", "postgresql-16"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "dev"

[[workflows.workflow]]
name = "Start"
author = 39619357

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx ts-node src/start.ts"

[[workflows.workflow]]
name = "dev"
author = 39619357

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start & npx ts-node src/server.ts"
