modules = ["web", "nodejs-20", "postgresql-16"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[workflows]

[[workflows.workflow]]
name = "dev"
author = 39619357

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start & npx ts-node src/server.ts"

[[workflows.workflow]]
name = "Start Server"
author = 39619357

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "ts-node --transpile-only src/server.ts"
